@model mvcStok.Models.Entity.satis
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<button type="button"class="btn btn-primary"data-toggle="modal"data-target="#modal1">Satış Yap</button>
<div class="modal"id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış yapma Ekranı</h2>
            </div>
            <form method="post"action="/satis/YeniSatis">
                <div class="modal-body">
                    <label>Ürün Adı</label>
                    @Html.TextBoxFor(m => m.urun, new { @class = "form-control" })
                    <label>Müştri adı Soyadı</label>
                    @Html.TextBoxFor(m => m.musteri, new { @class = "form-control" })
                    <label>Adet</label>
                    @Html.TextBoxFor(m => m.adet, new { @class = "form-control" })
                    <label>Fiyat</label>
                    @Html.TextBoxFor(m => m.fiyat, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Satış İşlemini Yap</button>
                    <button type="button" class="btn btn-danger"data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>
